.steps{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:center;
    align-items: start;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
}



.step{
    text-align: center;
    background-color: #fff;
    font-size: 60%;

}

.step svg{
  
    margin-bottom: .2rem;
    font-size: 200%;

}

.active{
    font-weight: bold;
}

.active > svg{
         fill:#7076f4
}